body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  text-align: center;
  height: 20px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  margin: 0;
}

#map-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

#map {
  height: 300px;
}

.hidden {
  display: none;
}

#newPlaceForm {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 200px;
  top: 80px;
  left: 140px;
  padding: 5px;
  background-color: white;
  z-index: 999;
  border-radius: 10px;
}

#newPlaceForm label {
  display: block;
  margin-bottom: 3px;
}

#newPlaceForm input[type="text"],
#newPlaceForm textarea {
  width: 92%;
  padding: 3px;
  margin-bottom: 5px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

#newPlaceForm button {
  font-size: 10px;
  background-color: #4CAF50;
  width: 40%;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#newPlaceForm button[type="submit"]:hover {
  background-color: #45a049;
}

.leaflet-popup-content button {
  font-size: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.leaflet-popup-content button:hover {
  background-color: #0072A9;
}

#editPlaceForm {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#editPlaceForm label {
  display: block;
  margin-bottom: 3px;
}

#editPlaceForm input[type="text"],
#editPlaceForm textarea {
  width: 92%;
  padding: 2px;
  margin-bottom: 3px;
}

#editPlaceForm button[type="submit"],
#editPlaceForm button {
  background-color: #4CAF50;
  width: 90%;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

#editPlaceForm button[type="submit"]:hover,
#editPlaceForm button:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 90%;
}

.modal-content {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.modal h2 {
  font-size: 20px;
  margin-top: 0;
  color: #45a049
}

.modal ul {
  width: 100%;
  list-style: none;
  padding: 0;
  text-align: left;
}

.modal button {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10px;
  width: 100%;
  background-color: #4CAF50;
  color: #fff;
  padding: 5px;
  text-align: center;
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.footer-content {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-content a {
  transition: all 0.3s;
}

.footer-content a:hover {
  transform: scale(1.3);
}

img {
  width: 12px;
  height: 12px;
}



